@import './vars.scss';
.pointer { cursor: pointer; }

h1 {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: $green-light;
  margin: 15px 0 5px 0;
  span {
    font-size: 26px;
  }
}
