$green: #06a77d;
$green-light: #f1ffe7;
$dark-gray: #2e3532;
$pink: #ff698e;
$white-text: #f2f2f2;
$green-hover: #c6ffbc;

// Z-INDEX
$highest-z: 1000;
$nav-z: $highest-z;
$card-radius: 25px;


// WIDTHS
$nav-max-width: 800px;
$nav-height: 60px;

$card-overlap: 45px;

// KEYFRAMES
@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}


// NEWEST COLORS
$body-bg: #fff;
$dots-border: $green-light;
$second-slider: #386fad;
$blue-bg: #4f86c6;

$head-bg: $blue-bg;
$head-bg-15: darken($head-bg, 15%);

$primary-bg: $dots-border;


@mixin boxShadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin transition($def) {
  -webkit-transition: $def;
  -moz-transition: $def;
  -o-transition: $def;
  transition: $def;
}

%right-down {
  -webkit-clip-path: polygon(0 0%, 100% 32px, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 32px, 100% 100%, 0 100%);
}
