$green: #06a77d;
$green-light: #f1ffe7;
$dark-gray: #2e3532;



// Z-INDEX
$highest-z: 1000;
$nav-z: $highest-z;


// WIDTHS
$nav-max-width: 800px;


// KEYFRAMES
@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}
