$green: #06a77d;
$green-light: #f1ffe7;
$dark-gray: #2e3532;
$pink: #ff698e;


// Z-INDEX
$highest-z: 1000;
$nav-z: $highest-z;


// WIDTHS
$nav-max-width: 800px;


$card-overlap: 45px;

// KEYFRAMES
@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@mixin boxShadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
