.caret-position {
  margin: 0 auto;
  width: 100px;
}

.caret {
  position: relative;

}

.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 25px solid rgba(240, 84, 79, 0.75);
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;

  animation-iteration-count: infinite;
  animation-name: down-anim2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 21px solid #C7EDE4;
  border-left: 77px solid transparent;
  border-right: 77px solid transparent;

  animation-iteration-count: infinite;
  animation-name: down-anim;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}


/* Animation for down-caret */
@keyframes down-anim {
  0%   { top: 0; }
  5%   { top: 10px; }
  10%  { top: 0; }
  15%  { top: 10px; }
  20%  { top: 0;  }
  100% { top: 0; }
}

@keyframes down-anim2 {
  0%   { top: 0; }
  5%   { top: 13px; }
  10%  { top: 0; }
  15%  { top: 13px; }
  20%  { top: 0;  }
  100% { top: 0; }
}