@import './vars.scss';
.pointer { cursor: pointer; }

h1 {
  @extend %font;
  @extend %header-font;
  text-transform: uppercase;
  color: $head-bg-15;
  padding: 0 0 10px 0;
  text-align: center;
}

h2 {
  @extend %font;
  text-transform: uppercase;
  @extend %header-font;
  color: $green-light;
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 12px;
}

a {
  background-color: lighten(black, 50%);
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 1px 5px;
  transition: background-color 250ms linear;

  &:hover {
    background-color: lighten(black, 60%);
    cursor: pointer;
  }
}
p {
  margin-bottom: 10px;
  @extend %font;
  font-size: 16px;
}

hr {
  opacity: 0.2;
  margin: 18px 0;
}

.container {
  width: 100%;
  max-width: $nav-max-width;
  padding: 0 15px;
  margin: 0 auto;
}

.background {
  width: 100%;
}

.para {
  color: rgba(0, 0, 0, 0.85);
}

ul {
  li {
    @extend %font;
    font-weight: 300;
    list-style: circle;
    margin-bottom: 5px;
  }
}

.router-link-active {
  color: $green-hover;
}


.page-enter-active, .page-leave-active {
  @include transition(opacity 300ms);
}
.page-enter, .page-leave-to {
  opacity: 0;
}

body {
  background-color: $body-bg;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    max-width: 94%;
  }
}

.content {
  width: 100%;
  max-width: $nav-max-width;
  margin: 0 auto;
}

.padding {
  padding: 32px 0;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// GENERIC
.flex { display: flex; }
.flex-row { 
  @extend .flex; 
  flex-direction: row; }
.flex-col {
  @extend .flex;
  flex-direction: column;
}
.row-a-c { 
  @extend .flex-row;
  align-items: center; }

.col-a-c {
  @extend .flex-col;
  align-items: center;
}
.j-c {
  justify-content: center;
}

// POINTERS
.pointer { cursor: pointer; }